<div class="main-card">
    <div class="border-out-img-title">
        <h2><%= advert.type_ad %></h2>
        <div class="img-inside">
            
        </div>
        <div class="title-card">
            <h3><%= advert.name %></h3>
        </div>
    </div>
    <div class="info-card">
        <p>Content: <%= advert.content %></p>
        <div class="more-info">
            <p>By: <%= advert.user.name %></p>
        </div>
        
    </div>
    
</div>