<%= link_to advert_path(advert) do %>
    <div class='info_window'>
        <h2 class='info_window_name'><%= advert.name %></h2>
        <p class='info_window_address'><%= advert.address %></p>
    </div>
<% end %>