
<form action="/adverts" method="get">
    <div class="searchTop">
        <div class="search-adress">
            <label for="address"></label>
            <input type="text" name="address" id="address" placeholder="Address">
        </div>

        <div class="search-distance">
            <label for="distance"></label>
            <input type="text" name="distance" id="distance" value="50"><span>km</span>
        </div>

        <div class="search-submit">
            <input type="submit" value="S">
        </div>
    </div>
</form>
