<div class="">
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to 'See all adverts', adverts_path %>
    <a href="#">Test to see if not decoration</a>
    <%# <p style="width: 40px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris leo, dictum tincidunt porttitor vitae, rutrum eget sapien. Sed dui risus, pellentesque in nibh sed, finibus varius odio. Aenean at ex quis mi pharetra sollicitudin vel et nibh. Phasellus vel erat neque. Praesent ac orci non lectus eleifend maximus. Aenean sed sollicitudin massa. Aliquam accumsan tincidunt ipsum vel elementum. Vestibulum eros metus, tristique vitae tristique quis, pharetra sed lectus. Nunc vel tempus ligula. Morbi bibendum accumsan maximus.
In sodales, diam at suscipit congue, lacus tellus commodo augue, fermentum sodales odio dui blandit dolor. Cras felis dolor, volutpat eget libero ut, porttitor lacinia tortor. Sed ligula neque, fermentum ac ex vel, auctor egestas libero. Nullam pharetra odio vehicula laoreet suscipit. Vivamus iaculis laoreet nisi, non elementum neque commodo vitae. Pellentesque non sem et nibh lacinia gravida. Sed dignissim velit vel lectus convallis vehicula. Sed et auctor ligula. Ut posuere ligula neque, eget lacinia sapien molestie at. Donec maximus metus sit amet nunc pharetra, ut consectetur felis mattis.

Nam pulvinar ex nec feugiat ullamcorper. In ac consequat nibh. Aliquam id dignissim dui. Etiam gravida sit amet arcu in aliquet. Quisque molestie tempor ante, sit amet porttitor leo lobortis ac. Mauris fringilla justo nisl, eget aliquam magna porttitor id. In lobortis cursus felis quis sollicitudin. Duis vel purus quam. Nam vitae lectus nisi. Quisque a urna urna.

Nam finibus sagittis leo sed suscipit. Etiam sit amet pulvinar est, eget bibendum turpis. Ut a justo et nibh pharetra pulvinar a quis leo. Quisque in enim orci. Phasellus congue mollis nunc, in vulputate libero aliquet non. In hac habitasse platea dictumst. In pharetra turpis nec odio volutpat ultricies. Ut et eleifend dolor. Fusce et urna molestie, consequat magna vel, efficitur ipsum. Nam eleifend tellus ac libero finibus convallis. Aliquam est ante, tempor vitae vulputate lobortis, dignissim consectetur purus. Morbi sem arcu, luctus at pulvinar non, hendrerit id nibh.

Curabitur ultricies congue eros, at pharetra purus malesuada et. Duis euismod id libero sed facilisis. Aliquam sit amet sem interdum, suscipit orci vitae, euismod libero. Duis a felis velit. Donec nec vestibulum erat. Aliquam lobortis sagittis diam, sit amet pharetra neque posuere id. Quisque metus elit, ultricies a blandit maximus, mollis nec velit. Vestibulum et enim sollicitudin, placerat ex et, viverra urna.</p>*10 %>
</div>
    

