<div class="home">
    <p>Find me in app/views/pages/home.html.erb</p>
    <nav>
        <ul>
            <li class="btn-search">
                <%= link_to 'Search', adverts_path %>
            </li>
            <li class="btn-post">
                <%= link_to 'Post', new_advert_path %>
            </li>
        </ul>    
    </nav>
    <div class="title">
        <hr class="hr">
        <h1>Last Ads</h1>
        <hr class="hr">
    </div>
    
    
</div>

