<div class="index-advert">

  <h1>Let's find our pet</h1>

  <div class="type-adv">
    <%# <form action="/adverts" method="get">

      <input type="radio" id="all" name="type-adv" valeur="All" checked>
      <label for="all">All</label>

      <input type="radio" id="lost" name="type-adv" valeur="Lost">
      <label for="lost">Lost</label>

      <input type="radio" id="find" name="type-adv" valeur="Find">
      <label for="find">Find</label>

      <input type="radio" id="seen" name="type-adv" valeur="Seen">
      <label for="seen">Seen</label>
      <input type="submit" value="Submit">

    </form> %>


  </div>

    <section class="list-adv-cards" >
      <div class="space-between">
      </div>
      <%= render 'shared/map', markers: @markers %>
      <div class="space-between">
      </div>

      <% @adverts.each do |advert| %>
          <%= render 'shared/big-cards-advert', advert: advert %>
      <% end %>

    </section>    
      

  <p></p>
  <%= link_to "Back to the home", root_path %>
  <p></p>
  <%= link_to "Create your advert", new_advert_path %>

</div>
