<div class="new-edit-advert">

    <div class="space-between"></div>
    <div class="title">
        <hr class="hr">
        <h1>Create your advertising</h1>
        <hr class="hr">
    </div>

    <%= render 'form', advert: @advert %>
    <div class="space-between"></div>

</div>
