<% @userConversations.each do |userConversation| %>
    <p>Conversation : <%= userConversation.conversation_id %> </p>
    <%= link_to "Aller a cette conversation", conversation_path(userConversation.conversation_id) %>
    <%= link_to "Delete", conversation_path(userConversation.conversation_id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
<p></p>
<%= link_to "home", root_path %>