<div class="user_conversations-index">

    <div class="space-between"></div>

    <div class="title">
      <hr class="hr">
      <h1>Contacts</h1>
      <hr class="hr">
    </div>

    <% if @userConversations.count == 0 %>
        <div class="space-between"></div>
        <div class="empty-message">
            <p>You don't have any message yet!</p>
        </div>
        
    <% else %>
        <% @userConversations.each do |userConversation| %>
                <%= render 'shared/card-user-conversation', userConversation: userConversation %>
        <% end %>
    <% end %>


    <div class="space-between"></div>


</div>
