// .mapboxgl-popup {
   
//   }
  
.mapboxgl-popup-content {
  padding: 0px !important;
  // color: $dblue;
  a{
    // color: $dblue;
    text-decoration: none!important;
    &:hover {
      color: $dblue;
      text-decoration: none;
    }
  }
  a:link {
    text-decoration: none!important;
  }
  
  a:visited {
    text-decoration: none!important;
  }
  
  a:hover {
    text-decoration: none!important;
  }
  
  a:active {
    text-decoration: none!important;
  }
}

.map-geo{
  border-radius: 170px;
  border: 5px solid $dblue;
  width: 80%;
  height: 500px;
} 
